@font-face {
  font-family: '0xProto Nerd Font';
  src: url('./assets/0xProtoNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: '0xProto Nerd Font';
  src: url('./assets/0xProtoNerdFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: '0xProto Nerd Font';
  src: url('./assets/0xProtoNerdFont-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: '0xProto Nerd Font Mono';
  src: url('./assets/0xProtoNerdFontMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: '0xProto Nerd Font Mono';
  src: url('./assets/0xProtoNerdFontMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: '0xProto Nerd Font Mono';
  src: url('./assets/0xProtoNerdFontMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Caskaydia Cove Nerd Font';
  src: url('./assets/CaskaydiaCoveNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caskaydia Cove Nerd Font';
  src: url('./assets/CaskaydiaCoveNerdFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Caskaydia Cove Nerd Font';
  src: url('./assets/CaskaydiaCoveNerdFont-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Caskaydia Cove Nerd Font Mono';
  src: url('./assets/CaskaydiaCoveNerdFontMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caskaydia Cove Nerd Font Mono';
  src: url('./assets/CaskaydiaCoveNerdFontMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Caskaydia Cove Nerd Font Mono';
  src: url('./assets/CaskaydiaCoveNerdFontMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Rii Tegaki N';
  src: url('./assets/RiiTegakiN.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}