:root {
    font-family: '0xProto Nerd Font Mono';
    --base: #0c091a;
    --fg: #f8f8f8;
    --lavender: #a4a4ff;
}

.project-card {
    max-width: 25vw;
}

.project-image {
    max-width: 100%;
    margin-bottom: 8px;
}

.project-header {
    font-size: 2rem;
    margin: 8px 0;
}

.project-text {
    font-size: 1.4rem;
    color: #555;
}


.project-link {
    color: inherit;
    text-decoration: none;
}